
.destinos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.destinos-titulo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    text-align: center;
    margin-bottom: 64px;
}

.destinos-titulo h3 {
    text-transform: uppercase;
    font-weight: 500;
}

.destinos-titulo h2 {
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 800;
}

.destinos-titulo p {
    max-width: 700px;
    margin: 0 auto;
}

.destinos-cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    max-width: 500px;
    height: 575px;
    border-radius: 30px;
}

.local1 {
    background: url(../img/lugar1.jpg);
    background-repeat: none;
    background-size: cover;
}

.local2 {
    background: url(../img/lugar2.jpg);
    background-repeat: none;
    background-size: cover;
}

.local3 {
    background: url(../img/lugar3.jpg);
    background-repeat: none;
    background-size: cover;
}

.card-interno {
    display: grid;
    gap: 8px;
    background-color: var(--cor-0);
    margin: 368px 40px 0 40px;
    border-radius: 30px;
    padding: 20px ;
    position: relative;
}

.card-interno::before {
    content: url(../img/five_stars.svg);
    width: 120px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-p1);
    border-radius: 30px;
    right: 20px;
    top: -20px;
    position: absolute;
}

.card-interno h3 {
    font-weight: 600;
    text-transform: uppercase;
}

.card-interno h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.card-interno p {
    max-width: 300px;
}

.destinos-container > a {
    margin-top: 40px;
    align-self: center;
}

@media (max-width: 1300px) {
    .card {
        max-width: 400px;
        height: 460px;
        border-radius: 30px;
    }

    .card-interno {
        gap: 8px;
        background-color: var(--cor-0);
        margin: 264px 40px 0 40px;
        border-radius: 30px;
        padding: 20px ;
        position: relative;
    }

    .card-interno h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1300px) {
    .destinos-cards {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 920px) {
    .destinos-container {
        padding-bottom: 0;
    }

}


@media (max-width: 700px) {
    .destinos-cards {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .card {
        /* width: 600px; */
        max-width: 100%; 
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .destinos-titulo {
        text-align: left;
        margin: 16px 16px 40px 16px;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 0 40px;
    }

    
    .destinos-titulo h3 {
        font-size: 0.875rem;
    }

    .destinos-titulo h2 {
        font-size: 5vw;
    }

    .destinos-titulo p {
        font-size: 0.875rem;
    }
    .card-interno p {
        max-width: 100%;
    }

    
}
